.box {
    display: flex;
    padding: 10px;
 }

 body {
     background-color: lightgrey;
     padding: 30px;
     border-radius: 20px;
     width: 550px;
     font-family: 'Jost', sans-serif;
 }

ul {
    background-color: black;
}